/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos generales */
body {
  background-color: #142957;
  color: rgb(255, 255, 255);
}

header .bg-tomato {
  background-color: #2ea8e0;
}

/* estilos de main */
main {
  margin: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .textos {
  text-align: center;
  background-color: #2ea8e0;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 90px 10px 10px 10px;
  padding: 10px;
  box-shadow: 20px 30px 30px black;
}
main .textos h1 {
  margin-top: 10px;
  display: block;
}
main .principal {
  text-align: center;
}

/* estilos de section */
section {
  background-color: #2ea8e0;
  color: rgb(255, 255, 255);
  margin: 110px 100px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  flex-wrap: wrap;
  gap: 5px;
  box-shadow: 20px 30px 30px black;
}
section div {
  text-align: center;
}
section div h2 {
  margin: 10px;
}
section div img {
  width: 30%;
}

/* img */
img {
  height: 20vh;
  width: 22vh;
  margin: 10px;
}

img:hover {
  transition: 0.5s;
  transform: scale(1.6);
}

/* main class */
.main-dos {
  margin: 100px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section class */
.section {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(22vh, 15rem));
  width: 70vw;
  background-color: #2ea8e0;
  color: rgb(255, 255, 255);
  margin: 60px auto;
  padding: 40px;
  box-shadow: 10px 10px 10px rgba(5, 5, 5, 0.516);
  /* mq tablet */
}
@media screen and (max-width: 800px) {
  .section {
    grid-template-columns: none;
  }
}
.section h1 {
  grid-column: span 5;
}

/* info class */
.info {
  background-color: #2ea8e0;
  color: rgb(255, 255, 255);
  margin: 100px 100px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  box-shadow: 20px 30px 30px black;
  /* mq celu */
}
@media screen and (max-width: 1090px) {
  .info {
    margin: 50px;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}

/* mq desktop */
@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40% 40% 15%;
  }
  main .img-dos,
  main .img-cinco {
    display: block;
  }
  main .img-dos,
  main .img-cuatro {
    grid-column: span 1;
  }
  main .img-uno,
  main .img-tres {
    grid-row: span 2;
  }
  main .img-cinco {
    grid-column: span 3;
  }
}
/* mq tablet */
@media screen and (min-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
  }
  main .img-cuatro {
    grid-column: span 2;
  }
}
/* mq celu */
@media screen and (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
  }
  main .img-cuatro {
    grid-column: span 2;
  }
}
/* estilos de footer */
footer {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
