/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos generales */
body {
  background-color: #000000;
  color: rgb(8, 8, 8);
}

header .bg-tomato {
  background-color: #FFFFFF;
}
header nav div a .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 90px;
  width: auto;
  margin: 0;
}
header nav div a .logo:hover {
  transition: none;
  transform: scale(1);
}

/* estilos de main */
main {
  margin: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .textos {
  font-family: "Shadows Into Light", cursive;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #5CE1E6;
  display: inline-block;
  margin: 90px 10px 10px 10px;
  padding: 10px;
}
main .textos h1 {
  margin-top: 10px;
  display: block;
  text-decoration: underline;
}

/* img fotografo */
.fotografo {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 25%;
  width: 25%;
  margin: 10px 710px;
}

.fotografo:hover {
  transition: none;
  transform: scale(1);
}

/* mq imagen fotografo */
/* mq celular */
@media screen and (max-width: 599px) {
  .fotografo {
    height: 80%;
    width: 80%;
    margin: 10px auto;
    margin: 0 auto;
  }
}
/* mq tablet */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .fotografo {
    height: 60%;
    width: 60%;
    margin: 10px auto;
    margin: 0 auto;
  }
}
/* mq desktop */
@media screen and (min-width: 1024px) {
  .fotografo {
    height: 25%;
    width: 25%;
    margin: 10px auto;
  }
}
/* estilos de section */
section {
  font-family: "Merienda", cursive;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  background-color: #FFFFFF;
  color: rgb(8, 8, 8);
  margin: 90px 100px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  flex-wrap: wrap;
  gap: 5px;
  box-shadow: 20px 30px 30px rgb(146, 143, 143);
}
section div {
  text-align: center;
}
section div h2 {
  text-decoration: underline;
  margin: 10px;
}
section div img {
  width: 30%;
}

/* imgs */
img {
  object-fit: cover;
  height: 15vh;
  width: 22vh;
  margin: 10px 20px;
}

img:hover {
  transition: 0.5s;
  transform: scale(1.6);
}

/* main class */
.main-dos {
  margin: 100px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-dos .principal {
  font-family: "Shadows Into Light", cursive;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #5CE1E6;
}
.main-dos .principal h1 {
  text-decoration: underline;
}

/* section class */
.section {
  font-family: "Shadows Into Light", cursive;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(22vh, 15rem));
  width: 70vw;
  background-color: #FFFFFF;
  color: rgb(8, 8, 8);
  margin: 60px auto;
  padding: 40px;
  box-shadow: 10px 10px 10px rgb(146, 143, 143);
  /* mq tablet */
}
@media screen and (max-width: 800px) {
  .section {
    grid-template-columns: none;
  }
}
.section h1 {
  grid-column: span 5;
}

/* info class */
.info {
  font-family: "Merienda", cursive;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  background-color: #FFFFFF;
  color: rgb(8, 8, 8);
  margin: 100px 100px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  box-shadow: 20px 30px 30px rgb(146, 143, 143);
  /* mq celu */
}
.info h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.info p {
  line-height: 1.5;
}
.info ul {
  list-style-type: none;
  padding: 0;
}
.info ul li {
  margin-bottom: 0.5rem;
}
.info ul ul {
  margin-top: 0.5rem;
}
.info a {
  color: rgb(8, 8, 8);
  text-decoration: none;
}
.info a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1090px) {
  .info {
    margin: 50px;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}

/* mq desktop */
@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40% 40% 15%;
  }
  main .img-dos,
  main .img-cinco {
    display: block;
  }
  main .img-dos,
  main .img-cuatro {
    grid-column: span 1;
  }
  main .img-uno,
  main .img-tres {
    grid-row: span 2;
  }
  main .img-cinco {
    grid-column: span 3;
  }
}
/* mq tablet */
@media screen and (min-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
  }
  main .img-cuatro {
    grid-column: span 2;
  }
}
/* mq celu */
@media screen and (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
  }
  main .img-cuatro {
    grid-column: span 2;
  }
}
/* estilos de footer */
footer {
  color: #FFFFFF;
  font-family: "Merienda", cursive;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
