*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos del menu */

header .bg-tomato{
  background-color: #e4bd11;
}

/* estilos generales */

body{
  background-color: #391be7;
  color: #f3f3f3;
}

/* estilos de main */

main{
  margin: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .textos{
  text-align: center;
}

main .textos h1{
  margin-top: 10px;
}

main .textos h1{
  display: block;
}

main .textos{
  background-color: #e4bd11;
  color: black;
  display: inline-block;
  margin: 90px;
  padding: 10px;
  box-shadow: 20px 30px 30px black;
}

.main-dos{
  margin: 100px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .principal{
  text-align: center;
}

/* estilos de section */

section{
  background-color: #E4BD11;
  color: black;
  margin: 110px 100px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  box-shadow: 20px 30px 30px black;
}

.divCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22vh, 1fr)); 
  gap: 10px; 
  width: 70vw;
  background-color: #E4BD11;
  color: black;
  margin-inline: 110px 100px;
  margin: 60px;
  padding: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(5, 5, 5, 0.516);
}

.section h1{
  grid-column: span 5; 
}

img{
  height: 20vh;
  width: 22vh;
  margin: 10px;
}
section div{
  text-align: center;
}

section div h2{
  margin: 10px;
}

section div img{
  width: 30%;
}

.info{
  background-color: #E4BD11;
  color: black;
  margin: 100px 100px;
  padding: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  box-shadow: 20px 30px 30px black;
}

/* estilos de footer */

footer{
  margin-top: 20px;
  text-align: center;
}

/* mq desktop */

@media screen and (min-width: 1024px) {
  main .img-dos, main .img-cinco{
      display: block;
  }

  main{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 40% 40% 15%;
  }

  main .img-dos, main .img-cuatro{
      grid-column: span 1;
  }

  main .img-uno, main .img-tres{
      grid-row: span 2;
  }

  main .img-cinco{
      grid-column: span 3;
  }

}

/* mq celu */

@media screen and (min-width: 600px) {
  main{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 50%) ;
  }

  main .img-cuatro{
      grid-column: span 2;
  }

  footer{
      margin-top: 70px;
  }
}