@import "../utilidades/variables";
@import "../utilidades/mixin";

/* estilos de main */
main {
  margin: 10px 50px;
  @include flex;

  .textos {
    text-align: center;
    background-color: $color-menu;
    color: $relleno;
    display: inline-block;
    margin: 90px 10px 10px 10px;
    padding: 10px;
    box-shadow: 20px 30px 30px $shadow;

    h1 {
      margin-top: 10px;
      display: block;
    }
  }

  .principal {
    text-align: center;
  }
}