@import "../utilidades/mixin";
@import "../utilidades/variables";

/* estilos de section */
section {
  background-color: $color-menu;
  color: $relleno;
  margin: 110px 100px;
  padding: 5px;
  @include flex;
  display: grid;
  flex-wrap: wrap;
  gap: 5px;
  box-shadow: 20px 30px 30px $shadow;

  div {
    text-align: center;

    h2 {
      margin: 10px;
    }

    img {
      width: 30%;
    }
  }
}

/* img */
img {
  @include medidas(20vh, 22vh, 10px);
}

img:hover {
  transition: 0.5s;
  transform: scale(1.6);
}