// mixin con parametros
@mixin medidas ($height, $width, $margin) {
    height: $height;
    width: $width;
    margin: $margin;
}

// mixin sin parametros 
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid {
    display: grid;
    justify-content: center;
    align-items: center;
}

@mixin reset-styles {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}